.light-theme {
  --border-color: var(--chakra-colors-gray-200);
}

.dark-theme {
  --border-color: var(--chakra-colors-gray-600);
}

#search-form {
  width: 50%;
}

#search-input {
  background-color: transparent;
  border: 1px solid var(--border-color);
}

#search-button {
  border: 1px solid var(--border-color);
}
