.light-theme {
  --border-color: var(--chakra-colors-gray-200);
}

.dark-theme {
  --border-color: var(--chakra-colors-gray-600);
}

.search-input {
  background-color: transparent !important;
  border: 1px solid var(--border-color) !important;
}

.search-button {
  border: 1px solid var(--border-color) !important;
}

.search-form {
  width: 50%;
}